<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/css/custome.css">
</head>
<body>
    {{template "about_us.html"}}<br>
    {{ .time | formatAsDate }}<br>
    {{ .number | intComma }}<br>
    {{ with .users }}
        {{ range . }}
            {{ .ID }},
            {{ .FirstName }},
            {{ .LastName }},
            {{ .Username }},
            {{ .Email }},
            {{ .Password }},
            {{ .LastLogin }}
            {{ .IsActive }}
            <br>
            <hr>
        {{ end }}
    {{ end }}
    <a href="/user/read/">go to user/read</a><br>
    <a href="/create-cookie">create cookie</a><br>
    <script src="/static/js/main.js"></script>
</body>
</html>
